---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
      <div>

    <div class="post-area post">
      <header>
        <h1>Class: <a href="{{ site.baseurl }}/module/{{page.module}}.html">{{ page.module}}</a>\{{ page.class}}</h1>
        </h1>
        <p align=right class="post-metadata">
            <i class="fa fa-clock-o"></i> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} -
            <i class="fa fa-user"></i> {{ page.author }}{% endif %} -
            <i class="fa fa-comment"></i>
            <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span>
        </p>
      </header>
      <article>

          {{ page.description | markdownify }}

{% if page.class_methods | size > 0 %}
          <hr>

          <strong>Available methods:</strong>
          <ul>
          {% for method in page.class_methods %}
            <li><a href="{{ site.baseurl}}/module/{{ page.module }}/class/{{ page.class}}/{{ method.dir }}.html">{{ method.title }}</a> - {{ method.description }}</li>
          {% endfor %}
          </ul>
{% endif %}

{% if page.class_properties | size > 0 %}
          <hr>

          <strong>Available properties:</strong>
          <ul>
          {% for method in page.class_properties %}
            <li><a href="{{ site.baseurl}}/module/{{ page.module }}/class/{{ page.class}}/{{ method.dir }}.html">{{ method.title }}</a> - {{ method.description }}</li>
          {% endfor %}
          </ul>
{% endif %}

{% if page.class_constants | size > 0 %}
          <hr>

          <strong>Available constants:</strong>
          <ul>
          {% for method in page.class_constants %}
            <li><a href="{{ site.baseurl}}/module/{{ page.module }}/class/{{ page.class}}/{{ method.dir }}.html">{{ method.title }}</a> - {{ method.description }}</li>
          {% endfor %}
          </ul>
{% endif %}

          {% if content != blank %}
            <hr>
            {{content}}
          {% endif %}

      </article>
      <hr>
    </div>

{% if site.disqus %}
    <div class="post-area post comment">
        {% include disqus.html %}
    </div>
{% endif %}

  </div>
</div>
