---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p align=right class="post-metadata">
            <i class="fa fa-clock-o"></i> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} -
            <i class="fa fa-user"></i> {{ page.author }}{% endif %} -
            <i class="fa fa-comment"></i>
            <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}"></span>
        </p>
      </header>
      <article>
        {{content}}
      </article>
      <hr>
    </div>

      {% if site.disqus %}
          <div class="post-area post comment">
              {% include disqus.html %}
          </div>
      {% endif %}

  </div>
</div>
